.flex-container {
display: -webkit-flex;
display: flex;
}

.flex-container {
display: -webkit-inline-flex;
display: inline-flex;
}

* {
 box-sizing: border-box;
}

body {
 font-family: Arial;
 margin: 0;
}

header {
 padding: 60px;
text-align: center;
 background: #1abc9c;
 color: white;
}

.row {
 display: flex;
 flex-wrap: wrap;
}

aside {
 flex: 30%;
 background-color: #f1f1f1;
 padding: 20px;
}

main {
 flex: 70%;
 background-color: white;
 padding: 20px;
}

.fakeimg {
 background-color: #aaa;
 width: 100%;
 padding: 20px;
}

footer {
 padding: 20px;
 text-align: center;
 background: #ddd;
}

@media screen and (max-width: 700px) {
 .row, nav {
 flex-direction: column;
 }
}

nav {
 display: flex;
 background-color: #4d6719; 
}
.menu {
    display: flex; 
background: #4d6719; 
}
.menu li {
font-size: 16px;
font-family: Arial, Helvetica; 
border-left: 1px solid #7ba428; 
position: relative;
}
.menu li a {
display: block; 
padding: 0 25px;
line-height: 40px;
color: #9acd32;
text-decoration: none;
}
.menu li a:hover,
.menu li.active>a {
color: #fff;
background: #9acd32;
}

.submenu {
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 10; 
    display: none; 
    list-style: none; 
    padding: 0;
    margin: 0;
    min-width: 150px; 
    background-color: #2c3e50; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.submenu li {
    border-left: none; 
    border-bottom: 1px solid #3e5e7e; 
    position: static; 
}

.submenu li:last-child {
    border-bottom: none;
}

.submenu li a {
    line-height: 30px; 
    padding: 0 15px;
    color: #ecf0f1; 
}

.submenu li a:hover {
    background-color: #34495e;
    color: white;
}

.menu li:hover > .submenu {
    display: block;
}